<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.min.css" />
    <!-- these are temporary workaround rules cuz SASS is broken in the windows labs-->
    <link rel="stylesheet" href="css/overrides.css" />

    <title>.: Roku Flashback :.</title>
  </head>
  <body>
    <main id="app">
      <router-view></router-view>
    </main>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="js/main.js" type="module" defer></script>
  </body>
</html>
