.home_wrapper {
  div {
    ul {
      li {
        padding-left: 40px;
        margin-top: 30px;
        h3 {
          font-size: 26px;
          margin-bottom: 20px;
        }
        .main_wrapper {
          display: flex;
          flex-direction: row;
          overflow-x: scroll;
          gap: 30px;
          &:-webkit-scrollbar {
            visibility: hidden;
          }
        }
        .movie_card {
          width: 300px;
          display: flex;
          flex-direction: column;
          flex: 0 0 auto;
          margin-right: 10px;
          gap: 20px;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 10px;
          button {
            padding: 10px;
            background-color: rgb(181, 40, 40);
            color: #fff;
            border-radius: 3px;
            border: none;
          }
          h4 {
            font-size: 22px;
          }
          img {
            border-radius: 3px;
          }
        }
      }
    }
  }
}

@media (max-width: 430px) {
    .home_wrapper {
        div {
          ul {
            li {
              padding-left: 10px;
              margin-top: 30px;
              h3 {
                font-size: 26px;
                margin-bottom: 20px;
              }
              .main_wrapper {
                display: flex;
                flex-direction: row;
                overflow-x: scroll;
                gap: 5px;
                &:-webkit-scrollbar {
                  visibility: hidden;
                }
              }
              .movie_card {
                width: 150px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                flex: 0 0 auto;
                margin-right: 5px;
                gap: 0px;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 5px;
                button {
                  padding: 10px;
                  background-color: rgb(181, 40, 40);
                  color: #fff;
                  border-radius: 3px;
                  border: none;
                }
                h4 {
                  font-size: 22px;
                }
                img {
                  border-radius: 3px;
                }
              }
            }
          }
        }
      }
}
